<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <title>Classic Poker</title>
</head>
<body>

    <div id="root">

        <button id="play_btn" v-show="userCards.length !== 5 && comCards.length !== 5" @click="giveCards">Play</button>

        <!-- <h1>Computer Cards</h1>
        <div class="card" v-for="comCard, i in comCards">
            <img :src="comCard.url" alt="">
        </div>
        <hr> -->

        <h1 style="width: 100%;" v-show="userCards.length !== 0 & newUserCards.length === 0">Select the cards you want to keep</h1>
        <h1 style="width: 100%;" v-show="userCards.length === 0 | newUserCards.length !== 0 & finalResult == ''">Good Luck!</h1>
        <div v-if="newUserCards.length !== 5" @click="chooseCard" :class="chosenCards.indexOf(`${j}`) !== -1 ? 'active' : ''" :mykey="j" class="card" v-for="userCard, j in userCards">
            <img :src="userCard.url" alt="">
        </div>
        <button v-show="newUserCards.length !== 5 & userCards.length !== 0" @click="changeCards">Change cards</button>
        <div v-show="newUserCards.length === 5" v-for="newCard, i in newUserCards" class="card" :key="i">
            <img :src="newCard.url" alt="">
        </div>

        <!-- <button id="result_btn" v-show="newUserCards.length !== 0 & finalResult === ''" @click="calcResult">Final Result</button> -->
        <h1 style="width: 100%;" v-show="finalResult !== ''">{{ finalResult }}</h1>

        <!-- <h2 style="display: inline-block;" v-show="cardsOfSameValue.length != 0">Cards of same value: </h2> -->
        <span v-for="card, i in cardsOfSameValue">
            <img :src="card.url" alt="">
        </span>
        <a href="" v-show="finalResult !== ''">Play again</a>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>