* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 800px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    padding: 15px;
}

a {
    display: block;
    text-decoration: none;
    transform: scale(2);
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
}

#play_btn {
    transform: scale(8);
}

h3 {
    font-size: 2em;
}

.card {
    width: calc(100% / 5 - 8%);
    margin: 0 4%;
    position: relative;
    animation: giveCard 1s ease-out;
}

@keyframes giveCard {
    0% {
        top: -80%;
        right: 80%;
    }
    100% {
        top: 0;
        right: 0;
    }
}

img {
    width: 100%;
    border-radius: 5%;
}

.card.active::after {
    font-size: 3em;
    content: "\2B9F";
    color: red;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: moveArrow infinite 300ms;
}

@keyframes moveArrow {
    50% {
        top: -20%;
    }
}